/*右箭头*/
.right-arrow {
    width: 0px;
    height: 0px;
}

.right-arrow::after {
    display: inline-block;
    content: " ";
    height: 11px;
    width: 11px;
    border-width: 2px 2px 0 0;
    border-color: #1a171733;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 40%;
    left: 90%;
}

.new-right::after {
    top: 90%;
    left: 66%;
}

#avatar {
    margin-top: 50px;
    margin-bottom: 25px;
    max-width: 99px;
}

#logandreg {
    color: rgb(0, 145, 212);
    border: 1px solid rgb(0, 145, 212);
    border-radius: 25px;
    width: 45.893%;
    max-width: 190px;
    margin-bottom: 25px;
}



.container-fluid>div:nth-child(2) {
    border-top: 0.3px solid rgba(0, 0, 0, 0.253);
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.253);
}

.list-inline>div:nth-child(1) {
    border-right: 0.3px solid rgba(0, 0, 0, 0.253);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-inline>div:nth-child(2) {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-inline>div:nth-child(3) {
    border-left: 0.3px solid rgba(0, 0, 0, 0.253);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-inline>div p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.media {
    height: 55px;
    padding-left: 38px;
    margin: 0;
    padding-top: 18px;
}

.new {
    font-size: 18px;
    color: black;
    position: relative;
}

.media-body {
    text-align: left;
    padding-left: 13px;
    width: 80%;
}

.media img,
.list-inline img {
    width: 20px;
}

@media (max-width: 376px) {
    .new {
        font-size: 16px;
    }
}