/*左箭头*/
.left-arrow {
    padding: 0px;
}

.left-arrow::after {
    display: inline-block;
    content: " ";
    height: 11px;
    width: 11px;
    border-width: 2px 2px 0 0;
    border-color: white;
    border-style: solid;
    transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
    position: absolute;
    left: 5%;
    top: 22px;
}

#d1 {
    background-color: rgb(27, 131, 210);
    color: white;
}

/*
.f1 {
    text-align: center;
    font-size: 18px;
    color: white;
} */

.i4_1 {
    padding-left: 30px;
    padding-right: 0px;
    margin: 0;
    padding-top: 15px;
    background-color: white;
}

.p1 {
    font-size: 16px;
}

@media (max-width: 413px) {
    .p1 {
        font-size: 14px;
    }
}