/*右箭头*/
.right-arrow {
    width: 0px;
    height: 0px;
}

.right-arrow::after {
    display: inline-block;
    content: " ";
    height: 11px;
    width: 11px;
    border-width: 2px 2px 0 0;
    border-color: #1a171733;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 40%;
    left: 90%;
}

.new-right::after {
    top: 90%;
    left: 66%;
}

#avatar {
    margin-top: 50px;
    margin-bottom: 25px;
}

#logandreg {
    color: rgb(0, 145, 212);
    border: 1px solid rgb(0, 145, 212);
    border-radius: 25px;
    width: 190px;
    margin-bottom: 25px;
}

.nav-tabs {
    text-align: center;
    height: 27px;
    line-height: 27px;
}

#i2 {
    border-top: 0.3px solid rgba(0, 0, 0, 0.253);
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.253);
}

#i2_1 {
    border-right: 0.3px solid rgba(0, 0, 0, 0.253);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#i2_2 {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#i2_3 {
    border-left: 0.3px solid rgba(0, 0, 0, 0.253);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c1 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.i4_1 {
    height: 55px;
    padding-left: 38px;
    margin: 0;
    padding-top: 18px;
}


.p1 {
    margin: 0;
    padding: 0;
}

.new {
    font-size: 18px;
    color: black;
    position: relative;
}

.media-body {
    text-align: left;
    padding-left: 13px;
    width: 80%;
}