@charset "utf-8";

.row {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(201, 166, 197, 0.075);
}

.right-arrow {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.right-arrow::after {
    display: inline-block;
    content: " ";
    height: 11px;
    width: 11px;
    border-width: 3px 3px 0 0;
    border-color: rgb(46, 178, 240);
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 40%;
    left: 86%;
}

.ra1::after {
    border-color: rgb(150, 216, 248);
    left: 88%;
}

.media-right {
    padding-left: 20px;
}

a:link {
    color: rgb(56, 56, 56);
    text-decoration: none
}

a:visited {
    color: rgb(56, 56, 56);
    text-decoration: none
}

a:hover {
    color: rgb(56, 56, 56);
    text-decoration: none
}

a:active {
    color: rgb(56, 56, 56);
    text-decoration: none
}

.ii {
    background-color: white;
}

.ii1 {
    height: 9px;
}

.i4_1 {
    height: 55px;
    padding-left: 38px;
    margin: 0;
    padding-top: 18px;
}

.i4_2 {
    height: 183px;
    padding-left: 38px;
    margin: 0;
    padding-top: 18px;
}

.f1 {
    font-size: 14.5px;
    width: 80%;
    color: rgb(56, 56, 56)
}

.p1 {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
}

.nav-tabs {
    text-align: center;
    height: 27px;
    line-height: 27px;
}