/* 右箭头 */
.right-arrow {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.right-arrow::after {
    display: inline-block;
    content: " ";
    height: 11px;
    width: 11px;
    border-width: 3px 3px 0 0;
    border-color: rgb(46, 178, 240);
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 20%;
    left: 96%;
}

.ra1::after {
    border-color: rgb(150, 216, 248);
    left: 100%;
}

.media-right {
    padding-left: 20px;
}

a:link {
    color: rgb(56, 56, 56);
    text-decoration: none
}

a:visited {
    color: rgb(56, 56, 56);
    text-decoration: none
}

a:hover {
    color: rgb(56, 56, 56);
    text-decoration: none
}

a:active {
    color: rgb(56, 56, 56);
    text-decoration: none
}

.dropdown-header {
    padding: 0px;
    font-size: 16px;
    color: black;
}

ul>li:first-child .col-xs-12 {
    height: 55px;
    padding-left: 38px;
    margin: 0;
    padding-top: 18px;
}

ul>li:nth-child(2) .col-xs-12,
ul>li:nth-child(3) .col-xs-12 {
    height: 183px;
    padding-left: 38px;
    margin: 0;
    padding-top: 18px;
}

.col-xs-12>div:first-child p {
    text-align: left;
    font-size: 14.5px;
    color: rgb(56, 56, 56);
    padding-left: 0px;
}

.col-xs-7 {
    text-align: right;
    /* position: relative; */
}