/*左箭头*/
.left-arrow {
    padding: 0px;
}

.left-arrow::after {
    display: inline-block;
    content: " ";
    height: 11px;
    width: 11px;
    border-width: 2px 2px 0 0;
    border-color: white;
    border-style: solid;
    transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
    position: absolute;
    left: 5%;
    top: 22px;
}

.ii1 {
    background-color: rgba(201, 166, 197, 0.075);
}

input,
input:focus {
    border: none !important;
    box-shadow: none !important;
}

input {
    height: 10px;
    padding: 10px 0px 0px 0px;
    font-size: 12px;
    padding: 0px;
}

.form-control {
    width: 90%;
    display: inline;
}

#d1 {
    background-color: rgb(27, 131, 210);
    color: white;
}

#frm1>div:nth-child(1)>label,
#frm1>div:nth-child(2)>label {
    padding-left: 30px;
}

#frm1>div:nth-child(1)>div,
#frm1>div:nth-child(2)>div {
    padding-left: 0;
    text-align: left;
    padding-right: 0;
}

#frm1>div:nth-child(1),
#frm1>div:nth-child(2) {
    width: 100%;
    margin-top: 5px;
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.253);
}

#frm1>div:nth-child(3) {
    position: relative;
}

#frm1>div:nth-child(3)>div:nth-child(1)>button {
    font-size: 16.5px;
    color: white;
    width: 85%;
    height: 48px;
    background-color: rgb(10, 120, 222);
    border: 0px;
    margin-bottom: 24px;
}

#frm1>div:nth-child(3)>div:nth-child(2)>button {
    font-size: 16.5px;
    color: rgb(10, 120, 222);
    height: 48px;
    width: 85%;
    background-color: white;
    border: 0.8px solid rgb(10, 120, 222);
}

#frm1>div:nth-child(3)>div:nth-child(3)>p {
    font-size: 12px;
    color: rgb(170, 170, 170);
    margin-top: 20px;
}

#frm1>div:nth-child(3)>div:nth-child(3)>p>a {
    color: rgb(10, 120, 222);
}

#dd1,
#dd2,
#dd3 {
    top: 5%;
    left: 10%;
    width: 80%;
    display: none;
    position: absolute;
}