/*右箭头*/
.right-arrow {
    margin-right: 20px;
}

.right-arrow::after {
    display: inline-block;
    content: " ";
    height: 8px;
    width: 8px;
    border-width: 1px 1px 0 0;
    border-color: black;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 40%;
    left: 57.5%;
}

/*左箭头*/
.left-arrow {
    padding: 0px;
}

.left-arrow::after {
    display: inline-block;
    content: " ";
    height: 8px;
    width: 8px;
    border-width: 1px 1px 0 0;
    border-color: #271e1e;
    border-style: solid;
    transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
    position: absolute;
    top: 40%;
    left: 40%;
}

.return::after {
    height: 11px;
    width: 11px;
    border-width: 2px 2px 0 0;
    border-color: white;
    left: 5%;
    top: 22px;
}

.d1_1 {
    margin-bottom: 0px;
    color: white
}

#d1 {
    width: 100%;
    height: 56px;
    background-color: rgb(27, 131, 210);
    font-size: 18px;
    color: black;
    text-align: center;
}

#d2 {
    width: 100%;
    height: 40px;
    background-color: rgb(232, 240, 245);
    font-size: 14px;
    color: black;
    text-align: center;
    position: relative;
}

img {
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 82%;
    border-radius: 14px;
}

img.img1 {
    top: 35px;
    left: 88%;
}

.ii2 {
    background-color: rgba(201, 166, 197, 0.075);
    height: 9px;
}

.c0 {
    padding-top: 10px;
}

.c1 {
    font-size: 12px;
    text-align: right;
    color: rgba(185, 185, 185, 0.9);
    padding-left: 0px;
    padding-top: 10px;
}

.c1_1 {
    text-align: left;
}

.c2 {
    font-size: 13px;
    padding-top: 9px;
    color: rgba(185, 185, 185, 0.9);
}

.c3 {
    padding-top: 10px;
    font-size: 13px;
    color: rgba(185, 185, 185, 0.9);
}

.p1 {
    font-size: 30px;
    margin: 0px;
    padding-left: 5px;
}

.p2 {
    text-align: right;
}