.row {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(201, 166, 197, 0.075);
}

/*左箭头*/
.left-arrow {
    padding: 0px;
}

.left-arrow::after {
    display: inline-block;
    content: " ";
    height: 11px;
    width: 11px;
    border-width: 2px 2px 0 0;
    border-color: white;
    border-style: solid;
    transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
    position: absolute;
    left: 5%;
    top: 25px;
}

/*右箭头*/
.right-arrow {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.right-arrow::after {
    display: inline-block;
    content: " ";
    height: 11px;
    width: 11px;
    border-width: 2px 2px 0 0;
    border-color: #1a171733;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 42%;
    left: 90%;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

a:link {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none
}

a:visited {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none
}

a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none
}

a:active {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none
}



.center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ii {
    background-color: white;
}

.ii1 {
    height: 9px;
}

#d1 {
    width: 100%;
    height: 60px;
    background-color: rgb(27, 131, 210)
}

#d2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
}

.f1 {
    text-align: center;
    font-size: 18px;
    color: white;
}

#img1 {
    display: inline-block;
    position: absolute;
    left: 54%;
    top: 18%;
    width: 13px;
}

#img2 {
    display: inline-block;
    position: absolute;
    left: 55%;
    top: 18.5%;
    width: 6px;
}

.i4_1 {
    height: 55px;
    padding-left: 30px;
    margin: 0;
    padding-top: 18px;
    font-size: 16px;
}

.sp1 {
    color: black;
}