/*下箭头*/
.right-arrow {
    width: 0px;
    height: 0px;
}

.right-arrow::after {
    display: inline-block;
    content: " ";
    height: 10px;
    width: 10px;
    border-width: 1.5px 1.5px 0 0;
    border-color: #000000;
    border-style: solid;
    transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
    position: absolute;
    top: 33%;
    left: 78%;
    z-index: 3;
}


#d1 {
    width: 100%;
    height: 40px;
    background-color: white;
    font-size: 18px;
    color: black;
    position: relative;
}

.b1 {
    background-color: white;
}

.nav-tabs {
    text-align: center;
    height: 27px;
    line-height: 27px;
}

.p1 {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
}

.ii {
    background-color: white;
    padding-bottom: 15px;
}

.i4_1 {
    padding-left: 30px;
    padding-right: 0px;
    margin: 0;
    padding-top: 15px;
    background-color: white;
}

.img1 {
    height: 50%;
    margin-bottom: 2px;
}

.media-left {
    padding-right: 44px;
    border-right: 0.5px solid rgba(0, 0, 0, 0.253);
    color: black;
}

.media-body {
    padding-top: 20px;
}

.sp1 {
    margin-right: 20px;
}

.all {
    /* //用div的样式代替select的样式 */
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* //盒子阴影修饰作用,自己随意 */
    position: relative;
}

select {
    /* //清除select的边框样式 */
    border: none;
    /* //清除select聚焦时候的边框颜色 */
    outline: none;
    /* //将select的宽高等于div的宽高 */
    width: 100%;
    line-height: 40px;
    /* //隐藏select的下拉图标 */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: aliceblue;
    padding-left: 30px;
}