@charset "utf-8";

body {
    font-family: "Microsoft Yahei", Verdana, Arial, Helvetica, sans-serif;
    background-color: rgba(201, 166, 197, 0.075);
}

.row {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    -webkit-appearance: none;
}

.ii {
    background-color: white;
}

.ii1 {
    height: 9px;
}

a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none
}

a:link {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none
}

a:visited {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none
}

a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none
}

a:active {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none
}

.navbar-default {
    background: #ffffff;
}

.logo {
    padding: 0;
}

#myModal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80%;
    overflow: visible;
    /*属性规定当内容溢出元素框时发生的事情 visible:内容不会被修剪，会呈现在元素框之外*/
    bottom: inherit;
    right: inherit;
}

@media (max-width: 413px) {
    body {
        font-size: 12px;
    }

    #d1 {
        font-size: 16px;
    }
}